* {
  margin: 0;
  padding: 0;
}

body {
  font-family: AmazonEmber;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#120458 11%, #7a04eb 100%);
  color: #78899A;
  font-family: "Roboto Mono", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  /* termial hack lag effect */
  /* header style */
}
body .scan-lines {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 69;
  pointer-events: none;
}
body .scan-lines::before {
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(#ff124f 50%, #ff00a0 50%);
  background-size: 10% 4px;
  opacity: 0.14;
}
body .scan-lines > div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  pointer-events: none;
}
body .scan-lines > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background: linear-gradient(to bottom, #ff124f 0%, #ff00a0 50%, #fe75fe 51%, #faeb2c 100%);
  opacity: 0.06;
  -webkit-animation: vline 6.25s linear infinite;
          animation: vline 6.25s linear infinite;
}
body > header {
  height: 70px;
  display: block;
  background-color: black;
  position: relative;
  width: 100%;
  z-index: 2;
  box-sizing: border-box;
}
body > header > nav {
  float: right;
  font-weight: 300;
}
body > header a {
  text-decoration: none;
}
body footer div.socials ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body footer div.socials ul li {
  list-style: none;
  margin-right: 10px;
}
body footer div.socials ul li a {
  display: block;
  height: 40px;
  width: 40px;
  background-color: white;
  color: black;
  transform: perspective(16px) rotate(-15deg) skew(20deg) translate(0, 0);
  box-shadow: -15px 15px 4px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
body footer div.socials ul li a::before {
  content: "";
  position: absolute;
  top: 5.3px;
  left: -10.9px;
  height: 100%;
  width: 11px;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewY(-45deg);
}
body footer div.socials ul li a::after {
  content: "";
  position: absolute;
  top: 40px;
  left: -6.2px;
  height: 11px;
  width: 100%;
  background: #b1b1b1;
  transition: 0.5s;
  transform: rotate(0deg) skewX(-45deg);
}
body footer div.socials ul li a#email {
  color: #bb001b;
}
body footer div.socials ul li a#github {
  color: black;
}
body footer div.socials ul li a#linkedin {
  color: #0d82bf;
}
body footer div.socials ul li a:hover {
  transform: perspective(16px) rotate(-15deg) skew(20deg) translate(10px, -10px);
  box-shadow: -30px 30px 25px rgba(0, 0, 0, 0.5);
}
body footer div.socials ul li a:hover#email, body footer div.socials ul li a:hover#email::before, body footer div.socials ul li a:hover#email::after {
  background-color: #bb001b;
  color: white;
}
body footer div.socials ul li a:hover#github, body footer div.socials ul li a:hover#github::before, body footer div.socials ul li a:hover#github::after {
  background-color: black;
  color: white;
}
body footer div.socials ul li a:hover#linkedin, body footer div.socials ul li a:hover#linkedin::before, body footer div.socials ul li a:hover#linkedin::after {
  background-color: #0d82bf;
  color: white;
}
body footer div.socials ul li a > svg {
  margin: 17%;
  width: 66%;
}

@-webkit-keyframes vline {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes vline {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}/*# sourceMappingURL=basic-style.css.map */