@font-face {
    font-family: Xolonium;
    src: url(../fonts/Xolonium/Xolonium-Bold.otf);
}

// $default_bg_color: #181a1b;
$default_bg_color: #201f25;

// $default_text_color: #78899A;
$default_text_color: #FFF;
/* header style */
$red-neon-0: rgba(204, 0, 0, 1);
$red-neon-1: rgba(204, 0, 0, 0.3);
$red-neon-2: rgba(255, 0, 0, 0.3);
$red-neon-3: rgba(204, 0, 0, 0.3);

// Retro colors : 
$neon_bl: #120458;
$neon_pr: #7a04eb;
$neon_pi: #ff00a0;
$neon_pi2: #fe75fe;
$neon_or: #ff124f;
$neon_ye: #faeb2c;
$flash_color: #af4949;

$breakpoints: (
    phone: 640px,
    tablet: 768px,
    desktop: 1024px) !default;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono",
        sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // background: linear-gradient($neon_bl 11%, $neon_pr 100%
    // );
    // background-color: $neon_bl;
    background-color: $default_bg_color;

    // color: $default_text_color;
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    // font-size: 1.5rem;

    /* termial hack lag effect */
    .scan-lines {
        position: fixed;
        display: flex;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 69;
        pointer-events: none;

        
        &::before {
            content: '';
            position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: .2rem;
        background: linear-gradient(to bottom, $red-neon-0 0%, $neon_pi 50%, $neon_pi2 51%, $neon_ye 100%);
        opacity: .05;
        
        animation: vline 6.25s linear infinite;
    }
}
}


div.header-container {
    background-color: #201f25;
    width: 100%;
    height: 60px;

    header {
        height: 100%;
        max-width: 1146px;
        position: relative;
        z-index: 2;
        box-sizing: border-box;

        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        display: flex;
        flex-direction: row;

        // @media(min-width: 700px) {
        //     margin-left: auto;
        //     margin-right: auto;
        //     width: 100px;
        //     background-color: red;
        // }
        & a {
            // Header Main Logo
            &.header-logo {
                font-family: Xolonium, sans-serif;
                font-weight: 900;
                font-size: 1.25rem;
                white-space:nowrap
            }

            &:visited {
                color: $default_text_color;
            }
            &:hover {
                animation: intermittente 0.033s infinite alternate;
                color: $red-neon-0 ;
                text-shadow: 0 0 35px $red-neon-1, 
                    0 0 11px $red-neon-1, 
                    0 0 2px $red-neon-2, 
                    0 0 1px $red-neon-3, 
                    0 0 17px $red-neon-1, 
                    0 0 17px $red-neon-3, 
                    0 0 30px $red-neon-3;
                // background-color: red;
                // box-shadow:  0px 0px 35px $red-neon-1, 
                // 0 0 11px $red-neon-1, 
                // 0 0 2px $red-neon-2, 
                // 0 0 1px $red-neon-3, 
                // 0 0px 17px $red-neon-1, 
                // inset 0px 0 17px $red-neon-3, 
                // inset 0px 0 30px $red-neon-3;
            }


            text-decoration: none;
        }

        // Navigation items
        & nav {
            width: 100%;
            font-weight: 800;
            display: flex;
            justify-content: flex-end;

            & a {
                padding: 8px 12px;
            }
        }
    }

}
